.sidlabs-section {
    display: flex;
    padding: 4rem 2rem;
    background: linear-gradient(135deg,#1a1a1a,#1a1a1a,#1a1a1a,#333,#333,#1a1a1a, #1a1a1a);
    border: rgb(14, 0, 0);
    border-color: #1a1a1a;
    border-width: 20rem;
    color: #fff;
    align-items: center;
  }
  
  .sidlabs-content {
    flex: 1;
    padding-right: 2rem;
  }
  
  .sidlabs-header {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #f0f0f0;
  }
  
  .sidlabs-subheader {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ddd;
  }
  
  .sidlabs-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #bbb;
    line-height: 1.6;
  }
  
  .sidlabs-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-with-animation {
    width: 80%;
    max-width: 400px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    transform: scale(0.8);
  }
  
  .sidlabs-section:hover .image-with-animation {
    opacity: 1;
    transform: scale(1);
  }
  

  /* Responsive Styles */

/* For medium screens (tablets) */
@media (max-width: 768px) {
  .sidlabs-content {
    padding-right: 1rem;
  }

  .sidlabs-header {
    font-size: 2.5rem;
  }

  .sidlabs-subheader {
    font-size: 1.2rem;
  }

  .sidlabs-description {
    font-size: 0.875rem;
  }

  .sidlabs-image {
    padding: 1rem;
  }

  .image-with-animation {
    width: 90%;
    max-width: 300px;
  }

  .sidlabs-section {
    padding: 3rem 1rem;
    border-width: 10rem;
  }
}

/* For small screens (mobile phones) */
@media (max-width: 576px) {
  .sidlabs-header {
    font-size: 2rem;
  }

  .sidlabs-subheader {
    font-size: 1rem;
  }

  .sidlabs-description {
    font-size: 0.75rem;
  }

  .sidlabs-image {
    padding: 0.5rem;
  }

  .image-with-animation {
    width: 100%;
    max-width: 250px;
  }

  .sidlabs-section {
    padding: 2rem 0.5rem;
    border-width: 5rem;
  }
}